# Python specific
**pycache**/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Environment and configuration files
documentai-430918-0976e0cd9010.json
.env.local
.env.yaml

# Logs
*.log

# Virtual environment
venv/
ENV/
env/
venv.bak/

# Cloud Function deployment artifacts
node_modules/
.functionignore